* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FREE SHIPPING ALERT BANNER */
.alert {
    background: black;
    color: white;
    min-width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}



